section.intro
  .intro__content
    .swiper-wrapper
      .swiper-slide
        .intro__slide
          .intro__slide-content
            span.intro__title why 
              span.intro__title--red creativia ?
            p.intro__text 
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              | Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. 
              | Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem 
              | eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, 
              | consequat commodo condimentum vitae, 
            .intro__buttons 
              button.intro__button.intro__button--features(type="button") features
              button.intro__button.intro__button--psd(type="button") Free PSD
      .swiper-slide
        .intro__slide
          .intro__slide-content
            span.intro__title why 
              span.intro__title--red creativia ?
            p.intro__text 
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              | Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. 
              | Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem 
              | eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, 
              | consequat commodo condimentum vitae, 
            .intro__buttons 
              button.intro__button.intro__button--features(type="button") features
              button.intro__button.intro__button--psd(type="button") Free PSD
    .swiper-button-prev 
    .swiper-button-next 
